@charset "UTF-8";
/* +++++++++++++++++++++++++ */
/* STYLES GENERAUX */
/* +++++++++++++++++++++++++ */
/* LES VARIABLES */
/* IL S'AGIT d'un OBJET et on va donc préfixer à # */
/*  -- alligator.io/css/minimal-css-reset/  --  */
/*html {

    font-size: 16px;
    propriétés déjà définie dans bases et grid
  }
  */
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display&family=Vampiro+One&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* les FONCTIONS dans le projet */
/* BALISES GENERALES */
html {
  font-size: 62.5%;
}

body {
  /* Jeremy a CENTRE la présentation de la MAQUETTE grâce au display: grid et au place-items: center */
  display: grid;
  place-items: center;
  background-color: #33264E;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../img/cucurbitaces_background.jpg");
  background-repeat: no-repeat;
  /*background-position */
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  font-family: Mulish, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

/* CLASSES PRINCIPALES */
.main-container {
  max-width: 160rem;
  border: 1px solid #27CC81;
  margin-top: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  border: 1px solid palevioletred;
}

.articles-container {
  display: flex;
  flex-direction: column;
  width: 80rem;
  background-color: rgba(51, 38, 78, 0.4);
  border: 1px solid orange;
  margin-top: 1rem;
  margin-left: 1rem;
}

/*
@media screen and (max-width: 640px) {
  aside{
    display: none;
  }
}
*/
/* ICONNES dans le projet */
.icon {
  display: grid;
  place-items: center;
  font-family: "Font Awesome 5 Free";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
}

.brand {
  font-family: "Font Awesome 5 Brands";
}

.facebook::before {
  content: "";
  font-size: 1.5em;
}

.twitter::before {
  content: "";
  font-size: 1.5em;
}

.instagram::before {
  content: "";
  font-size: 1.5em;
}

.pinterest::before {
  content: "";
  font-size: 1.5em;
}

.search::before {
  content: "";
  font-size: 1.5rem;
}

.rosa {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  background-color: pink;
  margin: 0rem 0.8rem 0rem 0.8rem;
}

/* ICI commence le code SCSS pour le HEADER main-header */
.main-header {
  /*height: value(hight-header); */
  background-color: #33264E;
  width: 100%;
}

.headerLink {
  display: flex;
  justify-content: space-between;
  /* height: 65%; */
  margin-top: 2rem;
  padding-top: 1rem;
}

h1 {
  font-family: Vampiro One, cursive;
  color: inherit;
  background-color: inherit;
}

.social {
  max-width: 30%;
  display: flex;
  margin-left: 1rem;
}

.title {
  max-width: 30%;
}

.reseach {
  text-align: right;
  max-width: 30%;
  margin-right: 1rem;
}

.menu-ppl {
  /*  max-height: 40%; */
  margin-top: 5rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid white;
}

.menu-ppl nav ul {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
}

.menu-ppl nav ul li {
  padding: 2rem;
  text-transform: capitalize;
}

.menu-ppl nav ul li a {
  text-decoration: none;
  color: #fff;
}

.carrousel {
  display: flex;
  width: 120rem;
  height: 48rem;
  border: 2px solid red;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../../images/pexels-lisa-fotios-1882410.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* Jeremy a CENTRE la présentation de la MAQUETTE grâce au display: grid et au place-items: center */
  display: grid;
  place-items: center;
}

.photo {
  max-width: 10%;
  height: auto;
}

.texte1 h1 {
  font-family: Playfair Display, serif;
}

.rectangle {
  max-width: 35rem;
  height: 5rem;
  display: flex;
  justify-content: space-around;
}
.rectangle p {
  display: inline;
}

.cercle p::before {
  content: "";
  border-radius: 50%;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #27CC81;
  display: inline-block;
  margin: 0rem 1rem 0rem 1rem;
}

.main-article {
  display: flex;
  border: 3px solid yellow;
  margin-top: 1rem;
  margin-left: 1rem;
  height: 20rem;
}

.text-article {
  margin-left: 1rem;
  border: 2px solid green;
  width: 100%;
}

.essaiCouleur {
  font-family: Mulish, sans-serif;
  color: red;
}

.carrousselencore h2 {
  color: red;
}

/*# sourceMappingURL=main.css.map */
